extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to TourBuddy
    p Travel around the world with our wide range to tours to book!
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
        tr
            td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                tbody
                tr
                    td
                    a(href=`${url}`, target='_blank') Upload user photo
    p - Akash Singh