.container-fluid
    .row.footer_container
        .col-md-4.newsLetter
            h6.footer_links2.optional Subscribe to our newsletter
            input(type="text", id="emailNews", placeholder="Email", style="width: 100%;")
            input.offers(type="checkbox" style="margin-top:10px")
            label.footerText(for="checkBox") &nbsp;&nbsp;Get Updates & Offers
            button.btn-block.btn-danger(id="newsSubmit") Subscribe
        .col-md-4
            h6.footer_links Quick Links
            a(href="#").footer_link career
            a(href="#").footer_link Become a guide
            a(href="#").footer_link Blog
            a(href="#").footer_link API Documentation
        .col-md-4
            h6.footer_links Our Address
            br
            p.footer_link 6/605 VBHC Vaibhava, Anekal Main Road, Byagaddenahalli,
            p.footer_link Bangalore - 562106
    .row(style="background-color:black")
        .col
            p.footerText2  &copy; By Akash Singh 2020 