extends base

block content
    .row_alertlogout(style="display:none; margin-top:100px; margin-bottom:50px; height:50px; opacity:0.6; text-align:-webkit-center")
    h1(style="margin-top:100px; text-align:center") Your Booked Tours
    - if (tours.length != 0)
        each tour in tours
            .card
                .card-body
                    .container-fluid
                        .row
                            .col-md-2.bookedTourDiv
                                h4= tour.name
                            div.bookedTourDiv(class='col-md-3')
                                h4= `Starts: ${tour.startDates[0].toLocaleString('en-us', {day: 'numeric', month: 'long', year: 'numeric'})}`
                            div.bookedTourDiv(class='col-md-3')
                                h4=`Paid Amount: ₹${tour.price}`
                            .col-md-3.bookedTourDiv
                                h4= `Start Time: ${tour.startDates[0].toLocaleString('en-us', {time: 'numeric'}).split(',')[1]}`
                            .col-md-2.bookedTourDiv
                                button.btn-danger.cancelTour Cancel
    - else
        .container
            .row.NoBook
                h4 No Tour Booked
            .row.NoBook
                a.BookTourNow(href="/") Book Now