extends base

block content
    .conatiner.resetPassCont
        .row_alertPass(style="display:none; margin-top:100px; margin-bottom:50px; height:50px; opacity:0.6; text-align:-webkit-center")
        .row
            .col
                h5.linkToken(data-reset-token=`${link}`) Password Reset
                label(for="passwordReset") New Password
                input#passwordReset(type="password", name="passwordReset")
                br
                br
                label(for="passwordResetConfirm") New Password Confirm
                input#passwordResetConfirm(type="password", name="passwordResetConfirm")
                br
                br
                button.resetPasswordSubmit.btn-success Set Password